[Desktop Entry]
Name=Homebase
Comment=Control panel for the devices on your home network
Exec=homebase
Icon=homebase
Terminal=false
Type=Application
Categories=Network;System;
StartupWMClass=homebase
